# Hypothesis

There must be a direct effect on weather patters and agricultural production. Though this may seem like a fairly obvious factor, it will be interesting to see which crops are produced in higher amounts given certain weather conditions. My prediction is that certaom crop categrories will benifit and be produced in higher levels given certain weather factors: fruits and vegetables will be produced in a higher amount in years with high perciptiation and high temperatures. Nightshade crops like potato will be produced in greatest amount in years with high perciptiation and a lower average temperature. Grains will be produced in greater amount in years in years with high percipitation and a more moderate temperature. The location to study is Spain. The selection of Spain is somewhat arbitrary 

# Classifier

I will be trying to understand and predict the

In [3]:
import pandas as pd

pd.read_csv('./data/spain_crops.csv')

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,724,Spain,5312,Area harvested,01929.07,"Abaca, manila hemp, raw",1980,1980,NaN,NaN,NaN,NaN,NaN
1,QCL,Crops and livestock products,724,Spain,5419,Yield,01929.07,"Abaca, manila hemp, raw",1980,1980,NaN,NaN,NaN,NaN,NaN
2,QCL,Crops and livestock products,724,Spain,5510,Production,01929.07,"Abaca, manila hemp, raw",1980,1980,NaN,NaN,NaN,NaN,NaN
3,QCL,Crops and livestock products,724,Spain,5312,Area harvested,01929.07,"Abaca, manila hemp, raw",1981,1981,NaN,NaN,NaN,NaN,NaN
4,QCL,Crops and livestock products,724,Spain,5419,Yield,01929.07,"Abaca, manila hemp, raw",1981,1981,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22871,QCL,Crops and livestock products,724,Spain,5419,Yield,01591,Yautia,2021,2021,NaN,NaN,NaN,NaN,NaN
22872,QCL,Crops and livestock products,724,Spain,5510,Production,01591,Yautia,2021,2021,NaN,NaN,NaN,NaN,NaN
22873,QCL,Crops and livestock products,724,Spain,5312,Area harvested,01591,Yautia,2022,2022,NaN,NaN,NaN,NaN,NaN
22874,QCL,Crops and livestock products,724,Spain,5419,Yield,01591,Yautia,2022,2022,NaN,NaN,NaN,NaN,NaN
22875,QCL,Crops and livestock products,724,Spain,5510,Production,01591,Yautia,2022,2022,NaN,NaN,NaN,NaN,NaN

In [4]:
pd.read_csv('./data/spain_weather_more.csv')

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DP01,DP01_ATTRIBUTES,DP10,DP10_ATTRIBUTES,...,SNOW,SNOW_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,WDFG,WDFG_ATTRIBUTES
0,SPE00119792,"ASTURIAS AVILES, SP",43.5667,-6.0442,127.0,1969,167.0,E,94.0,E,...,NaN,NaN,12.5,E,16.0,E,9.1,E,NaN,NaN
1,SPE00119792,"ASTURIAS AVILES, SP",43.5667,-6.0442,127.0,1970,171.0,E,101.0,E,...,NaN,NaN,12.6,E,16.0,E,9.2,E,NaN,NaN
2,SPE00119792,"ASTURIAS AVILES, SP",43.5667,-6.0442,127.0,1971,163.0,E,106.0,E,...,NaN,NaN,12.5,E,15.5,E,9.5,E,NaN,NaN
3,SPE00119792,"ASTURIAS AVILES, SP",43.5667,-6.0442,127.0,1972,178.0,E,108.0,E,...,NaN,NaN,11.9,E,15.4,E,8.5,E,NaN,NaN
4,SPE00119792,"ASTURIAS AVILES, SP",43.5667,-6.0442,127.0,1973,148.0,E,86.0,E,...,NaN,NaN,12.4,E,16.1,E,8.8,E,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6406,SPE00156603,"ULLDEMOLINS, SP",41.3200,0.8856,687.0,2018,95.0,E,52.0,E,...,NaN,NaN,13.6,E,18.7,E,8.5,E,NaN,NaN
6407,SPE00156603,"ULLDEMOLINS, SP",41.3200,0.8856,687.0,2020,75.0,E,44.0,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6408,SPE00156603,"ULLDEMOLINS, SP",41.3200,0.8856,687.0,2021,72.0,E,43.0,E,...,NaN,NaN,13.6,E,18.8,E,8.4,E,NaN,NaN
6409,SPE00156603,"ULLDEMOLINS, SP",41.3200,0.8856,687.0,2022,62.0,E,32.0,E,...,NaN,NaN,15.4,E,20.8,E,9.9,E,NaN,NaN
6410,SPE00156603,"ULLDEMOLINS, SP",41.3200,0.8856,687.0,2023,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:



pd.read_csv('./data/carbon_emissions.csv')

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3767956.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.165,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3783940.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.164,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3800954.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.164,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3818038.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.163,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48053,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,0.558,0.037,10.715,1.419,15.265,...,NaN,0.114,0.001,0.001,0.002,0.0,116.76,29.37,-0.088,-0.825
48054,Zimbabwe,2019,ZWE,15354606.0,NaN,0.473,0.031,9.775,-0.939,-8.765,...,NaN,0.113,0.001,0.001,0.002,0.0,116.03,28.70,0.143,1.463
48055,Zimbabwe,2020,ZWE,15669663.0,NaN,0.496,0.032,7.850,-1.926,-19.700,...,NaN,0.112,0.001,0.001,0.002,0.0,113.20,25.99,0.818,10.421
48056,Zimbabwe,2021,ZWE,15993525.0,NaN,0.531,0.033,8.396,0.547,6.962,...,NaN,0.111,0.001,0.001,0.002,0.0,NaN,NaN,1.088,12.956
48057,Zimbabwe,2022,ZWE,16320539.0,NaN,0.531,0.033,8.856,0.460,5.477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN